Okay <%= fname %> <%= lname %>, the answer to <%= num1 %> <%= calc %> <%= num2 %> is <%= answer %>. Would you like to play again?

<form>
    <input type = "hidden" name = "user_name" value = <%= name %> >
    <input type = "hidden" name = "user_password" value = <%= password %> >
    <input type = "hidden" name = "first_name" value = <%= fname %> >
    <input type = "hidden" name = "last_name" value = <%= lname %> >
</form>